<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <!-- Denies access to repository manager from client -->
                <rule name="DenyRepositoryManager" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="^\/repository\/" negate="true" />
                        <add input="{REMOTE_ADDR}" pattern="^172\.20\.0\.11$" />
                    </conditions>
                    <action type="AbortRequest" />
                </rule>
                <!-- Reverse proxy for Nexus web service -->
                <rule name="NexusReverseProxy" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <serverVariables>
                        <set name="HTTP_X_FORWARDED_HOST" value="chocolab.local" />
                        <set name="HTTP_X_FORWARDED_PROTO" value="https" />
                    </serverVariables>
                    <action type="Rewrite" url="http://127.0.0.1:8081/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>